/* CSS code for default stylings
** apply generally for all pages
** added by criscom
*/

h1, h2, h3 {
    font-weight: 600;
}

.main h1{
    // text-transform: uppercase;
    @extend %header;
}

.field-name-title-field,
.field-name-title {
    h2 {
        @extend %header;
    }
}

.alert-info {
    color: $logo;
    background-color: $box;
    border-color: $border;
}

.fa-angle-right {
    margin-left: 4px;
    margin-left: 0.25rem;
}