/* CSS code for panel page two cols two rows
** PANEL page
** Two column criscom
** added by criscom
** /front
**
*/


// flexslider

.front
{
    .flexslider
    {
        @include breakpoint($xlarge) {
            height: 453px; // give slider a fixed height so that the menu doesn't jump
        }
        @include breakpoint($range1024-1024) {
            height: 385px;
        }

        @include breakpoint($range768-768) {
            height: 287px;
        }
        @include breakpoint($range568-568) {
            height: 210px;
        }
        margin-top: 48px;
        margin-top: 3rem;
        margin-bottom: 78px; // 72px;
        margin-bottom: 4.875rem; // 4.5rem;

        background: transparent;
        h2
        {
            margin-bottom: 24px !important;
            margin-bottom: 1.5rem !important;

            text-align: center;
        }
        img
        {
            @include border-radius(4px);
            // margin-bottom: 24px !important;
            // margin-bottom: 1.5rem !important;
        }
    }
    .flex-control-nav {
        bottom: -46px;
    }
}


// flexslider takes a long time to load
// fix from: https://stackoverflow.com/questions/12717097/flexslider-slow-image-load/12727900#12727900

.flexslider .slides > li:not(:first-child)
{
    display: none;

    -webkit-backface-visibility: hidden;
}

.flex-direction-nav
{
    // hide navigation on mobile devices
    @include breakpoint($max568)
    {
        display: none;
    }
    a {
        &:hover {
            color: white;
        }
    }
}

