/* CSS code for panel page two cols two rows
** PANEL page
** Two column criscom
** added by criscom
** /front
**
*/

.front {
    .panel-2col {
        @include breakpoint($range769-1044) {
            margin-top: 24px;
            margin-top: 1.5rem;
        }
    }
    .pane-title {
        text-align: center;
        margin-bottom: 24px !important;
        margin-bottom: 1.5rem !important;
    }
    .center-wrapper.one {
        .panel-panel {
            @include clearfix;
            @extend %white-space;
        }
        .panel-col-first {
            .panel-pane {
                float: left;
                width: 49%;
                @include breakpoint($iphone5-6)
                {
                    float: none;
                    width: 100%;
                }
            }
            .pane-block {
                margin-left: 2%;
                background-color: $header-color;
                @include border-radius(4px);
                @include breakpoint($iphone5-6)
                    {
                    float: none;
                    width: 100%;
                    margin-left: 0 !important;
                    }
            }
        }
    }
}

// flexslider

.front {
    .flexslider {
        background: transparent;
        h2 {
            margin-bottom: 24px !important;
            margin-bottom: 1.5rem !important;
            text-align: center;
        }
        img {
            @include border-radius(4px);
            margin-bottom: 24px !important;
            margin-bottom: 1.5rem !important;
        }
        .miete-wrapper {
            margin-bottom: 24px;
            margin-bottom: 24px;
        }
        .miete-label, .miete {
            @extend %medium-font-weight;
        }
        .wohnungsdetails-link {
            margin: 24px 0;
            margin: 1.5rem 0;
        }
        .padding-front {
            padding: 0 16px;
            padding: 0 1rem;
        }
    }
}


.front {
    .field-name-field-image {
        img {
            @include border-radius(4px);
            }
    }
    .center-wrapper.two {
        @include clearfix;
        .panel-col-first {
            width: 49%;
            @include breakpoint($iphone5-6)
            {
                width: 100%;
            }
        }
        .panel-col-last {
            width: 49%;
            margin-left: 2%;
            @include breakpoint($iphone5-6)
            {
                width: 100%;
                margin-left: 0;
            }
        }
        .node {
            margin-bottom: 0;
            border: 0;
            .field-name-body {
                a.more-link {
                    display: block;
                    text-align: left;
                    margin-top: 16px;
                    margin-top: 1rem;
                }
            }
        }
    }
}