/* CSS code for panel page two cols two rows
** PANEL page
** Two column criscom
** added by criscom
** /front
**
*/


// flexslider

.front {
    .flexslider {
        background: transparent;
        margin-top: 48px;
        margin-top: 3rem;
        margin-bottom: 72px;
        margin-bottom: 4.5rem;
        h2 {
            margin-bottom: 24px !important;
            margin-bottom: 1.5rem !important;
            text-align: center;
        }
        img {
            @include border-radius(4px);
            // margin-bottom: 24px !important;
            // margin-bottom: 1.5rem !important;
        }
    }
}