/* CSS code for the header section
** added by criscom
** on all pages
** different header heights for frontpage and other pages
** no drupal logo in use
*/


header.header {
    background-color: $header-color;
    @include border-radius(4px);
    padding: 8px 0;

}

.header__site-link {
    &:hover {
        text-decoration: none;
        color: $brand-primary;
    }
    span {
    font-size: 1.5 * $h1-font-size;
    padding-left: 16px;
    padding-left: 1rem;

    }
}