/* CSS code for the HEADER TEXT
** added by criscom
** not on front

*/

.header__region
{
    position: relative;
}

#block-block-3
{
    position: relative;

    float: right;

    margin: 0;
    margin-top: 12px;
    margin-top: .75rem;
    padding: 12px;
    padding: .75rem;

    color: white;
    background-color: $black;

    @include breakpoint($max768) {
        display: none;
    }

    @include breakpoint($tablet)
    {
        width: 412px;
    }
    @include breakpoint($desktop)
    {
        width: 557px; //547px;
        margin-right: 0;
    }
    @include breakpoint($large)
    {
        // width: 57%;
        // width: 412px;
    }
    @include breakpoint($xlarge)
    {
        // width: 45.8%;
    }
    h1
    {
        margin: 0;
        text-transform: none;

        @include breakpoint($tablet)
        {
            font-size: 24px;
            font-size: 1.5rem;
        }
            @include breakpoint ($desktop)
    {
        font-size: 32px;
        font-size: 2rem;
    }
    }
}

.header-date
{
    color: $yellow;

    @include breakpoint($tablet)
    {
        font-size: 24px;
        font-size: 1.5rem;
    }
    @include breakpoint ($desktop)
    {
        font-size: 32px;
        font-size: 2rem;
    }
}

.region-blockgroup-header-wrapper
{
    clear: both;
}
