.page-node-73
{
    @include breakpoint($tablet)
    {
        .node-page,
        .block-webform
        {
            width: 49%;
        }
        .node-page
        {
            float: left;

            margin-right: 1%;
        }
        .block-webform
        {
            float: right;

            margin-top: 96px;
            margin-top: 6rem;
            margin-left: 1%;
            h2
            {
                line-height: 24px;
                line-height: 1.5rem;

                margin-bottom: 26px;
                margin-bottom: 1.625rem;
            }
        }
    }
    .block-webform
    {
        h2
        {
            font-size: 19px;
            font-size: 1.17rem;
        }
        label
        {
            font-weight: 300;
        }
        .button-primary
        {
            border-color: $border;
            background-color: $box;
            &:hover
            {
                border-color: darken($border, 20%);
                background-color: darken($box, 20%);
            }
        }
    }
}
