/* CSS code for the main menu for mobile
** added by criscom
** on all pages
** max-width: 767px
** 
*/

// Hide responsive menu
@include breakpoint($max768)
{
    .main-navigation {
        // top: 4px;
        width: $zen-grid-width;
    }
    .responsive-menus.responsified {
        span.toggler, .responsive-menus-simple {
            background: $menu-color;
            box-shadow: 2px 2px 2px darken($menu-color, 10%);
            color: white;
            li a {
                color: white;
            }
        }
    }
    .block-nice-menus
    {
        display: none;
    }
    .region-navigation {
        // margin: 16px 0;
        // margin: 1rem 0;
    }
}
