.view-news-landing-page {
    .views-row {
        @extend %divider-node;
        clear: both;
        min-height: 350px;
        img {
            @include border-radius(4px);
        }
    }
}


h2.news-title {
    margin-bottom: 0;
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: 300;
    .views-row-1 & {
        margin-top: 0;
    }
}

.views-field-created {
    span {
        font-style: italic;
        // font-size: 14px;
        // font-size: 0.875rem;
    }
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.news-landing-image {
    float: left;
    margin: 0 16px 16px 0;
    margin: 0 1rem 1rem 0;
    @include clearfix;
}