.node-article.view-mode-full
{
    .field-name-title h2
    {
        margin-bottom: 0;

            word-break: break-all;
        // Non standard for webkit
            word-break: break-word;
        -ms-word-break: break-all;
        -webkit-hyphens: auto;
           -moz-hyphens: auto;
                hyphens: auto;
    }
    .beitragsdatum
    {
        // font-size: 14px;
        // font-size: 0.875rem;
        margin-bottom: 16px;
        margin-bottom: 1rem;
        span
        {
            font-weight: 300;
            font-style: italic;
        }
    }
    .field-name-field-image
    {
        img
        {
            @include border-radius(4px);
        }
    }
}

/* in order to make the glyphicons for file downloads work, I have hacked the 
download_file.formatter.inc line 255 file in all/modules/download_file

return '<span class="detail">' . t($format, array('!extension' => $extension, '!file_size' => $file_size)). '</span>'. '<span class="glyphicon glyphicon-cloud-download"></span>';

adding
. '<span class="glyphicon glyphicon-cloud-download"></span>';
*/

ul.download-file
{
    margin-top: 12px;
    margin-top: .75rem;
    padding-left: 0;

    list-style: none;
    li
    {
        padding-top: 8px;
    }
    .glyphicon
    {
        float: left;

        padding-top: 2px;
        padding-right: 6px;
        padding-right: .375rem;
    }
}
