
.node-projekt.view-mode-full {
    .treewalk-prev-next {
        a {
            float: none;
            margin: 0;
            padding: 10px;
            display: inline;
            width: auto;
        }
    }
    .group-header {
        h3 {
            @extend %header;
            line-height: 48px;
            line-height: 3rem;
            margin: 0 0 24px 0;
            margin: 0 0 1.5rem 0;
            // margin-left: 8px;
            // margin-left: .75rem;
            &:before {
                // content: ":";
                // margin-right: 8px;
                // margin-right: .75rem;
            }
        }
        h2, h3 {
            // float: left;
        }
    }
    .group-left {
        clear: both;
        width: 40%;
        margin-right: 2%;
    }
    .group-right {
        width: 58% ;
    }
    .wrapper {
        clear: both;
        padding: 6px 0;
        padding: .375rem 0;
        .label {
            font-weight: 300;
        }
    }
    .wrapper.kategorie {
        @include clearfix();
        .label, .field {
            line-height: 1.42857143;
            float: left;
        }
    }



    .wrapper.beschreibung {
        p:first-child {
            margin-top: 0;
        }
        p {
            text-align: justify;
        }
    }
    .flexslider {
        background: transparent;
        box-shadow: none;
        border: none;
        img {
            @include border-radius(4px);
        }
    }
    @include breakpoint($max630) {
        .group-left,
        .group-right {
            margin: 0;
            float: none;
            width: 100%;
        }
        // $zen-columns: 2 !global;
        // .group-left {
        //     @include zen-grid-item(1,2);
        // }
        // .group-right {
        //     @include zen-grid-item(1,1);
        // }
    }
}