.view-team-landing-page
{
    @include boxes;
    .views-row {
        border: none;
        box-shadow: none;
        text-align: left;
        width: 48%;
        // width: 372px;
        // width: 23.25rem;
        @include breakpoint($max1199) {
            width: 48%;
            margin: 0 0 32px 0;
            margin: 0 0 2rem 0;
            &-odd {
                clear: left;
                margin-right: 2%;
            }
        }
        @include breakpoint($max567) {
            width: 100%;
        }
    }
    @include breakpoint($desktop) {
        .views-row
        {
            min-height: 220px;
            min-height: 13.75rem;
        }
    }

    // fields
    .field-name-title
    {
        h2
        {
            @extend %header-boxes;

            text-transform: none !important;

            text-shadow: none !important;
        }
    }
    .field-name-field-bild-team
    {
        margin-bottom: 12px;
        margin-bottom: .75rem;
        img {
            @include border-radius(4px);
        }
    }
    .field-name-field-informationen p,
    .wrapper > span
    {
        font-size: 16px;
        font-size: 1rem;
    }
}

// two columns
.node-team.view-mode-full
{
    @include breakpoint($tablet) // 2 columns on iPad and desktop
    {
        .group-left
        {
            float: left;
            width: 50%;
            // width: 37%;
            // margin-right: 3%;
        }
        .group-right
        {
            // float: right;
            float: left;
            width: 37%;
            margin-right: 3%;
            // width: 60%;
        }
        .field-name-body p
        {
            a
            {
                text-transform: uppercase;
            }
        }
    } // end brekpoint $tablet
    .group-left
    {
        .field-name-field-bild-team
        {
            img
            {
                display: block;

                margin-bottom: 12px;
                margin-bottom: .75rem;
            }
        }
    }
    .field-name-title h2
    {
        margin-top: 0;
    }
    iframe
    {
        @include breakpoint($iphone5-6)
        {
            width: 100%;
        }
    }
}