// =============================================================================
// 20140203 - CSS rules in mixins from SASS and COMPASS in ACTION p38
// =============================================================================

// No bullets in lists

// Apply below mixin to ul elements
// ul.plain {@include no-bullets;}
@mixin no-bullets {
  list-style: none;
  li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
  }
}

// List styles
// -------------------------------------------------------

// Mixins for list style types
@mixin unordered {
   list-style-position: outside; 
   list-style-type: disc;
}

@mixin unordered-inside {
   list-style-position: inside; 
   list-style-type: disc;
}

@mixin ordered {
  list-style-position: outside; 
  list-style-type: decimal;
}

@mixin ordered-inside {
  list-style-position: inside; 
  list-style-type: decimal;
}

@mixin nobullet {
  list-style-type: none;
}